venv
env
.ipynb_checkpoints



/data/raw_data/RoadTrafficAccidentLocations.csv
/data/raw_data/ugz_ogd_meteo_h1_2011-2020.csv
/data/raw_data/Verkehrszahelung_Autos/
/data/raw_data/Verkehrszaehlungen_werte_fussgaenger/
/data/tidy_data/pre_tidy_fussgaenger_velo/
/data/tidy_data/pre_tidy_auto/
/data/raw_data/pre_tidy_fussgaenger_velo/2011-2020_verkehrszaehlungen_werte_fussgaenger_velo_cleaned.csv
/data/raw_data/pre_tidy_fussgaenger_velo/2011-2020_verkehrszaehlungen_werte_fussgaenger_velo_cleaned.pickle
/data/raw_data/Verkehrszaehlungen_werte_autos/sid_dav_verkehrszaehlung_miv_OD2031_2012-2020.csv
/data/raw_data/Verkehrszaehlungen_werte_autos/sid_dav_verkehrszaehlung_miv_OD2031_2012-2020.pickle
/data/Zürich_map/map.pdf
