venv
env
.ipynb_checkpoints



/data/raw_data/RoadTrafficAccidentLocations.csv
/data/raw_data/ugz_ogd_meteo_h1_2011-2020.csv
/data/raw_data/Verkehrszahelung_Autos
/data/raw_data/Verkehrszaehlungen_werte_fussgaenger